{% extends 'base/base.html.twig' %}
{% use 'base/header.html.twig' %}

{% block title %}Louis - Projets{% endblock %}
{% block body %}
    <div class="bg-gris mt-10 mb-10 ml-50 mr-50 pt-5 pb-5 rounded-xl">
        <a class="text-gold pl-5" href="{{ path('project') }}">← Listes Projets</a>
        {% if project %}
            <div class="p-5 flex items-center justify-around">
                <h1 class="text-2xl p-5 text-5xl">{{ project.title }}</h1>
                {% if project.image %}
                    <img class="rounded-xl" src="{{ asset('images/projects/' ~ project.image) }}" alt="project img" width="200" height="200">
                {% endif %}
            </div>
            {% if paragraphes %}
                {% for paragraphe in paragraphes %}
                    <div class="p-5">
                    <h2 class="text-3xl underline mb-1">{{ paragraphe.titre }}</h2>
                    <p>{{ paragraphe.text|raw }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <div class="p-5 flex items-center justify-around">
                    <h2 class="text-3xl ">Pas de texte</h2>
                </div>
            {% endif %}

        {% else %}
                <div class="flex justify-center align-center">
                    <h1 class="text-2xl">Erreur</h1>
                </div>
        {% endif %}
    </div>

{% endblock %}
{% use 'base/footer.html.twig' %}
